<div class="header" id="headerID">

  <div class="logoContainer" id="logoContainerID" onClick="window.open('http://www.shigimcp.com')">
    <!-- <div class="logo" id="logoID"><img src="../assets/images/global/shigeru_logo_transparent_inv.svg"></div> -->
    <!-- <div class="logo_swapi_shigimcp" id="logo_swapi_shigimcpID"><img src="../assets/images/global/logo_swapi_shigimcp_w.svg"></div> -->
    <div class="logo" id="logoID"><img xlink:href="../assets/images/global/shigeru_logo_transparent_inv.svg"></div>
    <div class="logo_swapi_shigimcp" id="logo_swapi_shigimcpID"><img xlink:href="../assets/images/global/logo_swapi_shigimcp_w.svg"></div>
  </div>

  <div class="hedContainer" id="hedContainerID">
    <!-- <div class="logo_swapi" id="logo_swapiID"><img src="images/global/logo_swapi_w.svg"></div> -->
    <!-- <div class="hed" id="hedID"><img src="images/global/logo_swapi_w.svg">Pre-interview Code Project - <a href="http://www.shigimcp.com" target="_blank">http://www.shigimcp.com</a></div> -->
    <div class="hed" id="hedID">
      <!-- <img src="../assets/images/global/logo_swapi_w.svg"><br> -->
      <img xlink:href="../assets/images/global/logo_swapi_w.svg"><br>
      Pre-interview Code Project (Angular 6)
    </div>
  </div>

</div>


<div class="swapi">
  
  <!-- <h1>{{ title }}</h1> -->

  <app-characters [character]="selectedChar" [charDetail]="selectedCharDetail" class="charContainer"></app-characters>
  <!-- <app-char-detail [character]="selectedChar" [charDetail]="selectedCharDetail"></app-char-detail> -->
  <!-- <app-film-container [character]="selectedChar" [charDetail]="selectedCharDetail"></app-film-container> -->

</div>