/* You can add global styles to this file, and also import other style files */

html, body {
    background: #000000;
    background-image: url(assets/images/global/starfield.jpg);
    background-position: top;
    background-repeat: repeat;

    margin: 0;
    padding: 0;

    overflow: visible;
}
